{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="form-container">
        <h1>Login</h1>
        <form method="post" class="your-form-class">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="your-button-class">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'user_registration' %}">Register here</a>.</p>
    </div>
</body>
</html>
