{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="form-container">
        <h1>Register</h1>
        <form method="post" class="your-form-class">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="your-button-class">Sign Up!</button>
        </form>
        <p>Already Registered? <a href="{% url 'user_login' %}">Login here</a>.</p>
    </div>
</body>
</html>


